@model MaiThiKimHien_2122110261.Models.HomeModel
@{
    ViewBag.Title = "Category";
}

<!DOCTYPE HTML>
<html lang="en">

<body>
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">

            <nav class="row">
                @foreach (var item in Model.ListCategory)
                {
                    <div class="col-md-3 text-center">
                        <div class="card card-category pt-5" style="background-color:#eda165">
                            <a href="@Url.Action("ProductByCategory","Product", new {@id = item.category_id})">
                                <div class="img-wrap container-fluid" style="height:170px;width:300px; background:#efebeb; border:2px solid #e9bfbf">
                                    <img src="~/Content/images/category/@item.image" style="height:150px;width:150px" class="m-2">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="@Url.Action("ProductByCategory","Product", new {@id = item.category_id})" style="color:white">@item.categoryName</a>
                                    </h4>
                                    <p class="card-body">@item.description</p>
                                </div>
                            </a>
                            
                        </div>
                    </div> <!-- col.// -->
                }

            </nav> <!-- row.// -->


        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <!-- ========================= SECTION SUBSCRIBE  ========================= -->
    <section class="padding-y-lg bg-light border-top">
        <div class="container">

            <p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

            <div class="row justify-content-md-center">
                <div class="col-lg-4 col-sm-6">
                    <form class="form-row">
                        <div class="col-8">
                            <input class="form-control" placeholder="Your Email" type="email">
                        </div> <!-- col.// -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
                        </div> <!-- col.// -->
                    </form>
                    <small class="form-text">We’ll never share your email address with a third-party. </small>
                </div> <!-- col-md-6.// -->
            </div>


        </div>
    </section>
    <!-- ========================= SECTION SUBSCRIBE END// ========================= -->

</body>
</html>
